@import "tailwindcss";
@import "tailwindcss" theme(static);
@import "@nuxt/ui-pro";

@theme static {
    --font-sans: 'Public Sans', sans-serif;

    --breakpoint-3xl: 1920px;

    --color-primary: #081D3C; 
    --color-Sequand: #59BAFF;
    --color-background: #F4F8FE;

    --color-secondary: #9FBEDD;
}

input {
    color: black !important;
}